<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Cliente</title>
    <link rel="stylesheet" href="actualizar-cliente.component.css">
    
</head>
<body>
  <header>
    <div class="logo">
        <img src="assets/prin.png" alt="libro">
    </div>
    <h1>"UN BUEN LIBRO ES UNA VOZ SABIA JUNTO A TI"</h1>
    <nav>
        <ul>
            <li><a href="/menu">Inicio</a></li>
            <li><a href="/libro">Catálogo</a></li>
            <li><a href="/lista-prestamo">Gestión</a></li>
            <li><a href="/historial">Historial</a></li>
        </ul>
    </nav>
    <div class="user-actions">
        <button (click)="navigateToActualizarCliente()">👤ver perfil</button>
        <button (click)="cerrarSesion()">Cerrar sesión</button> 
    </div>
</header>
    <div  *ngIf="cliente" class="container">
        <div class="form-container">
            <h2>ACTUALIZAR PERFIL</h2>
            <form (ngSubmit)="updateCliente()" >
                <input id="cedula" type="text" [(ngModel)]="cliente.cedula" name="cedula" placeholder="Cedula" readonly>
                <input id="nombre" type="text" [(ngModel)]="cliente.nombre" name="nombre"  placeholder="Nombre" required>
                <input id="direccion" type="text" [(ngModel)]="cliente.direccion" name="direccion" placeholder="Direcion" required>
                <button type="submit">Guardar</button>
            </form>
        </div>
    </div>

    <footer>
        <small>Derechos reservados &copy; 2024-2025</small>
        <small>Irar Nankamai</small>
        <small>DomeniKa Delgado</small>
        <address>
          <a href="http://www.google.com">Google</a>
        </address>
    </footer>
</body>
</html>